<footer class="py-5 bg-green">
    <div class="container">
        <div class="d-flex row align-items-center justify-content-center">
            <div class="col-auto">
                <img class="img-fluid_footer" style="height: 300px; object-fit: contain;"
                    src="{{ '/assets/img/logo.png' | relative_url }}" alt="Logo" />
            </div>
            <div class="col">
                <div class="bigger_important nanumGothic text-white">지축대표세무사 - 김병규 세무회계</div>
                <div class="explanation_important_nanumGothic text-white b">경기 고양시 덕양구 지축1로 73 505호(지축동, JS스퀘어빌딩)
                </div>
                <div class="explanation_important  text-white">E-mail: kbgycn63@naver.com </div>
                <div class="explanation_important  text-white">TEL: 02-381-1355 </div>
                <br>
                <div class="text-white bold nanumGothic rem_1_2">#국립세무대학 #불복청구 #신고대리 #종합소득세 #양도소득세 #법인세 #부가가치세
                </div>
                <div class="text-white bold nanumGothic rem_1_2">#증여세 #상속세 #지축세무 #삼송세무 #구파발세무 #일산세무 #덕양세무 #고양세무
                    #일영세무 #기타세무상담 </div>

            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{{ '/js/scripts.js' | relative_url }}"></script>