<meta charset="utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="{{ site.description }}" />
<meta name="author" content="{{ site.title }}" />
<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="{{ '/css/styles.css' | relative_url }}" rel="stylesheet" />
<link href="{{ '/css/custom.css' | relative_url }}" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Nanum+Myeongjo:wght@400;700&family=Noto+Serif+KR&family=Roboto&display=swap"
    rel="stylesheet">