<nav class="navbar navbar-expand-lg navbar-dark bg-green">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{{ '/' | relative_url }}">지축대표세무사 - 김병규 세무회계</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/' or page.url == '/index.html' %}active{% endif %}"
                        href="{{ '/' | relative_url }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/area.html' %}active{% endif %}"
                        href="{{ '/area.html' | relative_url }}">주요 업무</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/bg.html' %}active{% endif %}"
                        href="{{ '/bg.html' | relative_url }}">김병규 세무사</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/blog.html' %}active{% endif %}"
                        href="{{ '/blog.html' | relative_url }}">블로그</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/to.html' %}active{% endif %}"
                        href="{{ '/to.html' | relative_url }}">오시는 길</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/gallary.html' %}active{% endif %}"
                        href="{{ '/gallary.html' | relative_url }}">갤러리</a>
                </li>
            </ul>
        </div>
    </div>
</nav>